@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;


}

.travel, .home{
    color: #FF5400; 
}

.btn-primary{
    border-radius: 8px;
    border: none;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
   
    font-size: 16px;
    font-weight: 700;

}


/* header styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    margin: 30px 135px;
}

nav img{
    width: 48px;
    height: 45px;

}

.nav-title{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .hero{
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}

nav .travel{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 44px;
}

nav li a{
    text-decoration: none;
}

.header-container{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    

}

.header-title{
    position: absolute;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-top: 100px;
    margin-left: 287px;
   

} 

.header-description{
    position: absolute;
    color: #FFF;
    width: 676px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 210px;
    margin-left: 247px;
    margin-bottom: 48px;
    
}

.header-destination{
    position: absolute;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px;
    width: 700px;
    height: 70px;
    margin-top: 310px;
    margin-left: 185px;

}

.header-destination p{
    
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 20px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 16px;
    
}








