@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    
}

/* shared styles */

.travel, .home{
    color: #FF5400; 
}

.btn-primary{
    border-radius: 8px;
    border: none;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
   
    font-size: 16px;
    font-weight: 700;

}

.btn-primary:hover{
    transform: scale(1.2);
}

input[type="submit"]:hover{
    transform: scale(1.2); 
}

/* header styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    margin: 30px 135px;
}

nav img{
    width: 48px;
    height: 45px;

}

.nav-title{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .hero{
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}

nav .travel{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 44px;
}

nav li a{
    text-decoration: none;
}

.header-container{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    

}

.header-title{
    position: absolute;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-top: 100px;
    margin-left: 287px;
   

} 

.header-description{
    position: absolute;
    color: #FFF;
    width: 676px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 210px;
    margin-left: 247px;
    margin-bottom: 48px;
    
}

.header-destination{
    position: absolute;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px;
    width: 700px;
    height: 50px;
    margin-top: 310px;
    margin-left: 185px;

}

.header-destination p{
    
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 20px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 16px;
    
}



/* main styles */

.popular-tours-container{
    display: flex;
    margin-top: 100px;
    /* justify-content: space-between; */

}

.popular-tours-container h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-left: 135px;
    margin-bottom: 24px;
}

.popular-tours-container p, ul{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400; 
    margin-left: 135px;
    margin-bottom: 24px;

}

.popular-tours-container ul{
    margin-left: 115px;
}

.popular-tours-container button{
    margin-left: 135px;
    font-size: 20px;
    font-weight: 800px; 
    margin-top: 32px;
}

.tours-content{
    margin-right: 150px;
    margin-left: 0;
}

.tours-img{
    width: 540px;
    height: 550px;
    margin-right: 135px; 
}


.ch-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 24px;

}

.ch-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 643px; 
    margin-left: 440px;
    margin-bottom: 48px;

}

.places-img-1{
    display: flex;
    /* justify-content: space-around; */
    margin-left: 170px;
    margin-right: 135px;
    margin-bottom: 24px;
    gap: 24px;
}

.maldives{
    background: url('../Images/Rectangle\ 5.png');
    width: 573px;
    height: 300px;

}
.Indonesia{
    background: url('../Images/Rectangle\ 8.png');
    width: 573px;
    height: 300px;
}


.places-img-2{
    display: flex;
    /* justify-content: space-around; */
    margin-left: 170px;
    margin-right: 135px;
    margin-bottom: 24px;
    gap: 24px;

}

.srilanka{
    background: url('../Images/Rectangle\ 6.png');
    width: 374px;
    height: 286px;
}
.north-america{
    background: url('../Images/Rectangle\ 7.png');
    width: 474px;
    height: 286px;
}

.kashmir{
    background: url('../Images/Rectangle\ 9.png');
    width: 274px;
    height: 286px;
}


.places-img-3{
    display: flex;
    /* justify-content: space-around; */
    margin-left: 170px;
    margin-right: 135px;
    margin-bottom: 100px;
    gap: 24px;
}

.bangladesh{
    background: url('../Images/Rectangle\ 11.png');
    width: 473px;
    height: 300px;

}

.bandorban{
    background: url('../Images/Rectangle\ 10.png');
    width: 673px;
    height: 300px;

}

.mal, .ind, .sri, .na, .ka, .bang, .ba{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 132px;

}

.choose-container-1 h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
   
}

.choose-container-1 p{
    width: 486px;
    text-align: center;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-left: 510px;
    margin-bottom: 50px;
}

.choose-img-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding: 30px;
}

.choose-img-1 h3, .choose-img-2 h3, .choose-container-3 h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
         
}

.choose-img-1 p, .choose-img-2 p, .choose-container-3 p{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;

}

.choose-img-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    padding: 30px;
}

.choose-container-2{
    display: flex;
    gap: 24px;
    margin-left: 110px;
    margin-bottom: 24px;
}

.choose-container-3{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding: 30px;
    margin-left: 433px;
    margin-bottom: 100px;
}

.deals h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}
.deals p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-left: 398px;
    font-size: 16px;
    font-weight: 400;
    width: 643px;
    margin-bottom: 50px;
}

.deals-1, .deals-3{
    border-radius: 16px;
    background: url('../Images/Group\ 39.png'), lightgray 50% / cover no-repeat;
    width: 1170px;
    height: 500px;
    margin-left: 150px; 
    margin-bottom: 24px;
}

.deals-1 h2, .deals-2 h2, .deals-3 h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 50px;

}

.deals-1 p, .deals-2 p, .deals-3 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 452px;
    margin-left: 50px;
    margin-bottom: 24px; 
}

.deals-1 .deals-border, .deals-2 .deals-border-2, .deals-3 .deals-border-3{
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 389px; 
    margin-left: 535px;
    margin-top: 70px;
 

}

.deals-1 .price, .deals-2 .price, .deals-3 .price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;

}

.deals-1 .btn-primary, .deals-2 .btn-primary, .deals-3 .btn-primary{
    margin-left: 50px;
}

.d-n p{
    
    margin-left: 100px;
}

.deals-border img, .deals-border-2 img, .deals-border-3 img{
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
}

.deals-border h5, .deals-2 h5, .deals-3 h5{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-left: 82px; 
}

.deals-2{
    border-radius: 16px;
    background: url('../Images/Group\ 40.png'), lightgray 50% / cover no-repeat;
    width: 1170px;
    height: 500px;
    margin-left: 150px; 
    margin-bottom: 24px;
}

.see{
    margin-top: 50px;
    margin-left: 650px;
    margin-bottom: 100px;
}

.perfect-container{
    margin-bottom: 100px;
}

.perfect-container h2{
    width: 448px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}

.perfect-container p{
    width: 532px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;

}

.perfect-container li{
    width: 518px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    margin-left: -155px;

}

.get-lost{
    margin-left: 135px;
}

.yt-video{
    border-radius: 16px;
}

.perfect-container{
    display: flex;
    gap: 28px;
}






.news{
    width: 474px;
    height: 350px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    margin-bottom: 100px;
    margin-left: 135px;
}

.news h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.news p{
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;  
    margin-bottom: 24px; 
}

.news .line{
    background: rgba(19, 19, 24, 0.10);
    width: 460px;
    height: 1px;
    margin-bottom: 24px;
}

.news input{
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    width: 430px;
    height: 20px;
    padding: 16px;
    margin-bottom: 16px;

}

.news .text{
    margin-bottom: 16px;
}

.news .mail{
    margin-bottom: 16px;
}

.news .subs{
    border-radius: 8px;
    background: #FF5400;
    width: 465px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;


}


.nw{
    display: flex;
    gap: 24px; 
}


.p{
    
    width: 672px;
    height: 422px;
    border-radius: 16px;
    background: url('../Images/Rectangle\ 8\ \(1\).png');
  

}

.save p{
    position: absolute;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-left: 110px;
    margin-top: 35px;
   

}

.save h4{
    position: absolute;
    color: #FFF;
    font-size: 32px;
    font-weight: 800; 
    margin-left: 45px;
    margin-top: 55px;

}

.save{
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    margin-left: 340px;
    margin-top: 255px;
}

/* footer styles */


footer{
    background: rgba(19, 19, 24, 0.05);
    width: 1500px;
    height: 502px;
    margin-left: 0;

}


footer .plane{
    width: 50px;
    height: 46.673px;
    margin-left: 600px;
    margin-top: 100px;
}

footer .tr{
    margin-left: 665px;
    margin-top: -62.5px;
    margin-bottom: 15px;
}

footer .ft-description{
    text-align: center;
    width: 769px; 
    margin-left: 320px;
    margin-bottom: 33px;
    
}

footer .so{
    position: relative;
    margin-left: 620px;
    margin-bottom: 50px;
    
}  

.line-2{
    background: rgba(19, 19, 24, 0.10);
    width: 872px;
    height: 1px;
    margin-left: 284px;
    margin-bottom: 50px;
}


.cp-right{
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    margin-left: 624px;
}

/* small-devices */

@media screen and (max-width: 600px) {
    nav{
        margin-left: 20px;
    }

    nav .hero{
        font-size: 21px;
    }

    nav .travel{
        font-size: 21px;
    }

    .header-container{
        width: 335px;
        height: 500px;
        
    }

    .header-title{
        position: absolute;
        font-size: 22px;
        margin-left: 64px;
        margin-top: 32px;
    }

    .header-description{
        position: absolute;
        font-size: 14px;
        margin-top: 68px;
        margin-left: 16px;
        width: 304px;
    }

    .header-destination{
        position: absolute;
        flex-direction: column;
        width: 250px;
        height: 300px;
        align-items: flex-start;
        gap: 16px;
        padding: 16px;
        margin-left: 24px;
        margin-top: 163px;

    }

    .header-destination p{
        width: 220px;
        gap: 5px;
        margin-bottom: 1px;
    }

    .btn-primary{
        width: 255px;
    }

    .popular-tours-container{
        flex-direction: column;
    }

    .popular-tours-container h2{
        font-size: 20px;
    }

    .tours-content{
        margin-left: -100px;
        margin-right: 80px;
        margin-bottom: 24px;
    }

    .popular-tours-container button{
        width: 174px;
        height: 52px;
    }

    .tours-img{
    width: 335px;
    height: 342px;
    margin-left: 30px;

   } 

   .ch-title{
    margin-top: 230px;
    font-size: 20px;
    margin-left: 10px;
    
   }

   .ch-description{
    width: 309px;
    margin-left: 30px;
    margin-bottom: 20px;
   }

   .places-img-1{
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
    /* height: 176px; */
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 16px;
   } 

   .places-img-2{
    flex-direction: column;
    margin-left: 20px;
    gap: 16px;
   }

   .places-img-3{
    flex-direction: column;
    margin-left: 20px;
    gap: 16px;
   }

   .choose-img-1, .choose-img-2{
    width: 335px;
   
   }

   .choose-img-1 p, .choose-img-2 p, .choose-container-3 p{
    width: 270px;
   }
   .choose-container-1 h3{
    margin-left: 50px;
   }
   .choose-container-1 p{
    margin-left: 20px;
   }

   .choose-container-2{
    flex-direction: column;
    margin-left: 20px;
   }

   .choose-container-3{
    margin-left: 20px;
    width: 335px;
   }


   .deals p{
    margin-left: 30px; 
    width: 309px;
   }
    /* nav img{
        width: 28.724px;
        height: 33.516px; 
    } */
}

/* medium-devices */

@media screen and (min-width: 601px) and (max-width: 992px) {
    
}





